.container {
    background-color: #FFF;
    height: 100%;
    margin: auto;
}

@media all and (min-width: 720px) {
    .container {
        width: 70%;
    }
}

.header {
    width: 100%;
    text-align: center;
}

.header__logo {
    max-width: 100%;
    height: auto;
    width: auto;
}

.navigation__social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.navigation__social-link {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation__toggle-menu-button {
    width: 100%;
    height: 30px;
    display: none;
}

.navigation__menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media all and (max-width: 719px) {
    .navigation__menu {
        text-align: center;
    }
}

.navigation__menu-item {
    display: inline-block;
    padding: 5px 15px;
}

.navigation__menu-item--vertical {
    display: block;
}

.navigation__menu-item:hover {
    background-color: #EEE;
}

.navigation__menu-item--selected {
    font-weight: bold;
}

.navigation__menu-link:link,
.navigation__menu-link:visited,
.navigation__menu-link:hover,
.navigation__menu-link:active,
.navigation__menu-link:visited:hover,
.navigation__menu-link:visited:active {
    color: #777;
    text-decoration: none;
}

.navigation__split-line {
    background-color: #AAA;
    border: none;
    height: 1px;
    width: 100%;
}

.content {
    margin: 20px 10px;
}

.footer {
    text-align: center;
}

.footer__split-line {
    background-color: #AAA;
    border: none;
    height: 1px;
    width: 100%;
}

.footer__note {
    color: #777;
    margin: 0;
}

.article {
    background-color: #EEE;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article__title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.article__body {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.article__tags {
    margin-top: 10px;
    font-size: small;
}

.article__tag {
    display: inline-block;
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
}

.article__created {
    margin-top: 1px;
    font-size: small;
}

.article__created-date {
    display: inline-block;
    font-style: italic;
}

.login-form {
    text-align: center;
}

.login-form__fieldset {
    border: none;
}

.login-form__control-group {
    margin-bottom: 10px;
}

.login-form__input {
    height: 20px;
    color: #777;
    vertical-align: middle;
}

.login-form__button {
    background-color: #000;
    color: #FFF;
    border: none;
    padding: 10px 20px;
}

.clearfix {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
