.container {
    margin: auto;
}

.header-logo {
    margin: auto;
}

.content {
    margin: 30px;
    margin-bottom: 50px;
}

.footer {
    margin: auto;
    text-align: center;
    color: #A0A0A0;
}

#toggle-menu {
    width: 100%;
    display: none;
}

#toggle-menu hr {
    width: 95%;
    height: 2px;
    border: none;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-form {
    margin: auto;
    text-align: center;
}

.login-button {
    background-color: black;
}

@media (min-width: 720px) {
    .container {
        width: 70%;
    }
}

